<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Day 1</td> <td>R for Reproducible Scientific Analysis</td><td><a href="https://github.com/HBEC-MPI-EVA/2023-11-27-leipzig/blob/gh-pages/day1.R">Day 1 Code</a></td></tr>
      <tr> <td>Day 2</td> <td>Data Manipulation in R and Visualization with `ggplot2`</td><td><a href="https://github.com/HBEC-MPI-EVA/2023-11-27-leipzig/blob/gh-pages/day2.R">Day 2 Code</a></td></tr>
      <tr> <td>Day 3</td> <td>Version Control with Git</td><td><a href="https://github.com/HBEC-MPI-EVA/2023-11-27-leipzig/blob/gh-pages/day3-example.zip">Day 3 Example</a></td><td><a href="https://github.com/HBEC-MPI-EVA/2023-11-27-leipzig/blob/gh-pages/day3.txt">Day 3 Code</a></td></tr>
      <tr> <td>Day 4</td> <td>Using R for Generative Inference</td><td><a href="https://github.com/HBEC-MPI-EVA/2023-11-27-leipzig/blob/gh-pages/day4.R">Day 4 Code</a></td></tr>
      <tr> <td>Day 5</td> <td>Advanced Data Manipulation in R</td></tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
